<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fruits</h1>
    <p>Fruits form</p>
    <form id="fruitForm" method='POST'>
      <p>
        <!--input type='text' name='fruit[name]' placeholder="Name" /-->
        <input type='text' name='name' placeholder="Name" />
      </p>
      <p>
        <!--input type='text' name='fruit[desc]' placeholder="Description" /-->
        <input type='text' name='desc' placeholder="Description" />
      </p>
      <p>
        <input type='submit' value='Submit'/>
      </p>
    </form>
  </body>
</html
