<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To my view. <a href="myroute">View</a></p>
    <p>List of <a href="fruitsstatic"> fruits</a> from static file.</p>
    <p>Add fruit <a href="fruits"> fruit</a> to DB.</p>
    <p>List of <a href="fruitslist"> fruits</a> in DB.
  </body>
</html>
