<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= bigText %></h1>
    <p>Welcome to <%= desc %></p>
    <a href="myroute/test">res.send()</a>
    <br />
    <a href="/">HOME</a>
  </body>
</html>
